<div class="herder">
  <div class="header-left">
    <a>アプリケーション名</d>
  </div>
  </div class="header-center">
    <div>検索する</div>
  </div>
  <div class="header-right">
    <a>がくと</a>
    <d>ログアウト</a>
  </div>
</div>